@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 .swiper-button-prev {
    display: none !important;
 }
 .swiper-button-next{
    @apply bg-white p-5 rounded-full z-50 shadow-md
 }

 .swiper-button-prev:after, .swiper-button-next:after{
    font-size: 16px !important;
 }

 .btn-primary {
    @apply bg-primary  px-12 py-2 rounded-md text-base font-secondary font-bold hover:bg-secondary hover:text-white transition-all duration-200 cursor-pointer
 }

.html{
   scroll-behavior: smooth;
}

/* SweetAlert Custom Styles */
.small-alert {
  font-size: 0.875rem !important;
  padding: 0.5rem !important;
}

.rectangular-alert {
  border-radius: 4px !important;
}

.small-alert-title {
  font-size: 1rem !important;
  padding: 0.5rem 0 !important;
  margin: 0 !important;
}

.small-alert-button {
  font-size: 0.875rem !important;
  padding: 0.5rem 1rem !important;
}

.small-icon {
  font-size: 1.25rem !important;
  width: 40px !important;
  height: 40px !important;
  margin: 0.25rem auto !important;
}

.small-icon .swal2-icon-content {
  font-size: 1.25rem !important;
}